@model Budget

@if (ViewBag.EditBudget == true)
{
    <h2>Edit Budget</h2>
    <form asp-action="UpdateBudget" asp-route-id="@Model.UserId" method="post" oninput="totalBudget.value=parseInt(foodBudget.value)+parseInt(housingBudget.value)+parseInt(entertainmentBudget.value)+parseInt(otherBudget.value);">
        <div class="form-group">
            <label for="userId">UserId:</label>
            <input type="text" class="form-control" id="userId" name="UserId" value="@Model.UserId" readonly required>
        </div>
        <div class="form-group">
            <label for="income">Income:</label>
            <input type="number" class="form-control" id="income" name="Income" value="@Model.Income" required>
        </div>
        <div class="form-group">
            <label for="foodBudget">Food budget:</label>
            <input type="number" class="form-control" id="foodBudget" name="FoodBudget" value="@Model.FoodBudget" required>
        </div>
        <div class="form-group">
            <label for="housingBudget">Housing budget:</label>
            <input type="number" class="form-control" id="housingBudget" name="HousingBudget" value="@Model.HousingBudget" required>
        </div>
        <div class="form-group">
            <label for="entertainmentBudget">Entertainment budget:</label>
            <input type="number" class="form-control" id="entertainmentBudget" name="EntertainmentBudget" value="@Model.EntertainmentBudget" required>
        </div>
        <div class="form-group">
            <label for="otherBudget">Other budget:</label>
            <input type="number" class="form-control" id="otherBudget" name="OtherBudget" value="@Model.OtherBudget" required>
        </div>
        <div class= "form-group">
            <label for="totalBudget" > Total budget:</label>
            <output name="totalBudget" for="foodBudget housingBudget entertainmentBudget otherBudget"></output>
        </div>

        <button type="submit" class="btn btn-primary" onclick="return checkBudget()">Save Changes</button>
    </form>
}
else
{
    <h2>Changes Saved Successfully</h2>
    <br />
    <h3>@Model.UserId's Budget:</h3>
    <br />

    <table class="table">
        <tbody>
            <tr>
                <td>Income:</td>
                <td>@Model.Income</td>
            </tr>
            <tr>
                <td>Food budget:</td>
                <td>@Model.FoodBudget</td>
            </tr>
            <tr>
                <td>Housing budget:</td>
                <td>@Model.HousingBudget</td>
            </tr>
            <tr>
                <td>Entertainment budget:</td>
                <td>@Model.EntertainmentBudget</td>
            </tr>
            <tr>
                <td>Other budget:</td>
                <td>@Model.OtherBudget</td>
            </tr>
            <tr>
                <td>Total budget:</td>
                <td>@Model.TotalBudget</td>
            </tr>
        </tbody>
    </table>

    <a asp-controller="Budget" asp-action="ListBudgets" class="btn btn-success">View Budgets</a>
}

<script>
    function checkBudget() {
        var income = parseInt(document.getElementById("income").value);
        var totalBudget = parseInt(document.getElementsByName("totalBudget")[0].value);
        if (totalBudget > income) {
            alert("Total budget including all categories cannot exceed Income");
            return false;
        }
    }
</script>

