@model TransactionViewModel

@if (ViewBag.ViewForm == true)
{
    <h2>View Transactions</h2>

    @using (Html.BeginForm("ListTransaction", "Transaction", FormMethod.Post))
    {
        <div class="form-group">
            <label for="userId">User ID:</label>

            <select class="form-control" id="UserId" name="UserId" required>
                <option value="">--Select User ID--</option>
                @foreach (var budget in Model.BudgetList)
                {
                    <option value="@budget.UserId">@budget.UserId</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="category">Budget Category:</label>

            <select class="form-control" id="Category" name="Category" required>
                <option value="">--Select Category--</option>
                @foreach (var item in Model.TransactionCategoryList)
                {
                    <option value="@item">@item</option>
                    //if the value is same as text
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">View Transaction</button>
    }
}
@if(ViewBag.ViewTransaction == true)
{
    <h2>@Model.USERID's @Model.Category Transactions</h2>
    <br />
    <table class="table">
        <tbody>
            @if (Model.Category == "All")
            {
                <tr>
                    <th id="th1" style="width: 200px; text-align: center">Food Transactions</th>
                    <th id="th2" style="width: 200px; text-align: center"></th>
                </tr>
                @foreach (var transaction in @Model.FoodTransList)
                {
                    <tr>
                        <td headers="th1" style="width: 200px; text-align: center">@transaction.Amount</td>
                        <td headers="th2" style="width: 200px; text-align: center">
                            <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@transaction.TransactionId" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?');">Delete</a>
                        </td>
                    </tr>
                }
                <tr>
                    <th id="th1" style="width: 200px; text-align: center">Housing Transactions</th>
                    <th id="th2" style="width: 200px; text-align: center"></th>
                </tr>
                @foreach (var transaction in @Model.HousingTransList)
                {
                    <tr>
                        <td headers="th1" style="width: 200px; text-align: center">@transaction.Amount</td>
                        <td headers="th2" style="width: 200px; text-align: center">
                            <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@transaction.TransactionId" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?');">Delete</a>
                        </td>
                    </tr>
                }
                <tr>
                    <th id="th1" style="width: 200px; text-align: center">Entertainment Transactions</th>
                    <th id="th2" style="width: 200px; text-align: center"></th>
                </tr>
                @foreach (var transaction in @Model.EntertainmentTransList)
                {
                    <tr>
                        <td headers="th1" style="width: 200px; text-align: center">@transaction.Amount</td>
                        <td headers="th2" style="width: 200px; text-align: center">
                            <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@transaction.TransactionId" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?');">Delete</a>
                        </td>
                    </tr>
                }
                <tr>
                    <th id="th1" style="width: 200px; text-align: center">Other Transactions</th>
                    <th id="th2" style="width: 200px; text-align: center"></th>
                </tr>
                @foreach (var transaction in @Model.OtherTransList)
                {
                    <tr>
                        <td headers="th1" style="width: 200px; text-align: center">@transaction.Amount</td>
                        <td headers="th2" style="width: 200px; text-align: center">
                            <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@transaction.TransactionId" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?');">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th id="th1" style="width: 200px; text-align: center">@Model.Category Transactions</th>
                    <th id="th2" style="width: 200px; text-align: center"></th>
                </tr>
                @foreach (var transaction in @Model.TransactionList)
                {
                    <tr>
                        <td headers="th1" style="width: 200px; text-align: center">@transaction.Amount</td>
                        <td headers="th2" style="width: 200px; text-align: center">
                            <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@transaction.TransactionId" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?');">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <a asp-controller="Transaction" asp-action="InitViewTransaction" class="btn btn-info">View Another</a>
}


